<div class="projectTypes form">
<?php echo $this->Form->create('ProjectType'); ?>
	<fieldset>
		<legend><?php echo __('Admin Add Project Type'); ?></legend>
	<?php
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Project Types'), array('action' => 'index')); ?></li>
	</ul>
</div>
