.AddNewButton {
	font-size: 12px;
	color: #fff;
	background: rgb(240,183,161);
	background: -moz-linear-gradient(top, #76BF6B 0%, #3B8230 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76BF6B), color-stop(100%, #3B8230));
	background: -webkit-linear-gradient(top, #76BF6B 0%, #3B8230 100%);
	background: -o-linear-gradient(top, #76BF6B 0%, #3B8230 100%);
	background: -ms-linear-gradient(top, #76BF6B 0%, #3B8230 100%);
	background: linear-gradient(top, #76BF6B 0%, #3B8230 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76BF6B', endColorstr='#3B8230', GradientType=0 );
	border: 1px solid #3B8230;
	border-radius: 4px;
	padding: 10px 15px;
	text-align: center;
	float: right;
	text-decoration:none;
}


li.sub-menu {
    margin-left: 30px !important;
}
li.selected a {
    background: #003D4C !important;
    color: #fff !important;
}
li.selected2 a {
    background: green !important;
}
li.selected3 a {
    background: darkred !important;
}

.radio_btn {
    width: 20%;
    float: left;
}

.slider_preview{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #ddd;

}

.slider_preview-btn{
    position: absolute;
    right: 50px;
    top: 60px;
    background: #003D4C;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 24px;
}
.slider_close-btn{
    position: relative;
    left: 50px;
    top: 60px;
    background: #003D4C;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 24px;
}

.slider_navigation{
    margin: 60px;
    font-size: 24px;
    background: none;
}
.slider_navigation a{
    text-decoration: none;
    padding: 10px;
}

.slider_navigation span {
    background: #BCBCBC;
    margin-left: 45px;
    position: relative;
    z-index: 1; /* needed for setting pseudo-element z-index */
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 1.3em;
    line-height: 1.518;

}

.slider_navigation span a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
}

.slider_navigation span a::before,
.slider_navigation span a::after {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/* Arrow */
.link-arrow {
    background: rgba(149,165,166,0.4);
}

.link-arrow a {
    padding: 0 0.25em;
    font-weight: 500;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.link-arrow a:hover,
.link-arrow a::after {
    -webkit-transform: translateX(-1em);
    transform: translateX(-1em);
}

.link-arrow a::before,
.link-arrow a::after {
    position: absolute;
    height: 100%;
    content: '';
}

.link-arrow a::before {
    left: 0;
    z-index: -1;
    width: 100%;
    background: #34495e;
}

.link-arrow a::after {
    left: 100%;
    z-index: -2;
    width: 1em;
    background: #34495e url(../img/arrow_right.svg) no-repeat 50% 50%;
    background-size: 60% auto;
    text-align: center;
    font-family: Arial, sans-serif;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    pointer-events: auto;
}

.link-arrow a:hover::after,
.link-arrow a:focus::after {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slider_general section p {
    font-size: 2em;
    line-height: 1.518;
    margin: 0 auto;
}

.slider_general section {
    position: relative;
    z-index: 1; /* needed for setting pseudo-element z-index */
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slider_general section a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #404d5b;
    vertical-align: bottom;
    text-decoration: underline;
    white-space: nowrap;
}

.slider_general section a::before,
.slider_general section a::after {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/* Skewed */
.link-skewed {
    background: rgba(149,165,166,0.1);
}

.link-skewed a {
    font-weight: 500;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.link-skewed a:hover,
.link-skewed a:focus {
    color: #fff;
}

.link-skewed a::before {
    position: absolute;
    top: 0px;
    left: -5px;
    z-index: -1;
    box-sizing: content-box;
    padding: 0 5px;
    width: 100%;
    height: 100%;
    background: #e74c3c;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transform: skewY(-3deg) skewX(-11deg);
    transform: skewY(-3deg) skewX(-11deg);
}

.link-skewed a:hover::before,
.link-skewed a:focus::before {
    opacity: 1;
    -webkit-transform: skewY(0) skewX(0);
    transform: skewY(0) skewX(0);
}