<?php echo $this->Html->css('custom'); ?>
<?php echo $this->element('menu'); ?>
<div class="teamMembers index">
	<h2><?php echo __('Team Members'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('full_name'); ?></th>
			<th><?php echo $this->Paginator->sort('display_name'); ?></th>
			<th><?php echo $this->Paginator->sort('image_link'); ?></th>
			<th><?php echo $this->Paginator->sort('designation'); ?></th>
			<th><?php echo $this->Paginator->sort('contact'); ?></th>
			<th><?php echo $this->Paginator->sort('mail'); ?></th>
			<th><?php echo $this->Paginator->sort('active'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($teamMembers as $teamMember): ?>
	<tr>
		<td><?php echo h($teamMember['TeamMember']['full_name']); ?>&nbsp;</td>
		<td><?php echo h($teamMember['TeamMember']['display_name']); ?>&nbsp;</td>
		<td><?php echo h($teamMember['TeamMember']['image_link']); ?>&nbsp;</td>
		<td><?php echo h($teamMember['TeamMember']['designation']); ?>&nbsp;</td>
		<td><?php echo h($teamMember['TeamMember']['contact_1']); ?>&nbsp;</td>
		<td><?php echo h($teamMember['TeamMember']['mail_1']); ?>&nbsp;</td>
		<td><?php echo h($teamMember['TeamMember']['active']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $teamMember['TeamMember']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $teamMember['TeamMember']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $teamMember['TeamMember']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Team Member'), array('action' => 'add')); ?></li>
	</ul>
</div>
